doctype html
html
	head
		title Отчёт
		script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js")
		script(src="index.js" defer="defer")
		link(rel="stylesheet" href="index.css")
		meta(charset="utf-8")
	body
		main
			each user in users
				.user.v
					.avatar(style=`background-image: url("${user.photo_max}")`)
					.wrap.h
						.name
							a(href=`https://vk.com/id${user.id}`)=`${user.first_name} ${user.last_name}`
							if user.domain
								a(href=`https://google.com/search?q=${user.domain}`)=`@${user.domain}`
						.activity
							span.status=user.activity
							span.seen=` | была в ${(new Date(user.last_seen.time * 1000)).toLocaleString()}`
						.wrap
							span.bdate=`дата рождения: ${user.bdate}`
							.sections
								for section in user.export.sections
									.section
										.title=section.name
										for group in section.groups
											a(href=`https://vk.com/club${group.id}`)=group.name
					.stats
						canvas(id=`u${user.id}` width="300" height="300" data-user=Buffer.from(encodeURIComponent(JSON.stringify(user.export))).toString('base64'))



